---
import { ChevronRight as IconChevron } from 'lucide-svelte';
import Logo from '@components/generic/Logo.astro';
---

<div class="grid grid-cols-1 gap-20">
  <!-- Mascot -->
  <div class="flex justify-center items-center">
    <div class="relative size-48 md:size-64 aspect-square justify-center items-center flex">
      <Logo width="200" height="200" />
      <!-- <div class="absolute top-0 left-0 size-full aspect-square rounded-full bg-conic from-success-500 to-primary-500 blur-3xl">
			</div> -->
    </div>
  </div>
  <!-- Hero Text -->
  <div class="self-center text-center space-y-4">
    <!-- Text -->
    <h1 class="heading-font-family text-3xl md:text-4xl font-bold xl:text-balance">
      mistahuman's astro-svelte-skeleton-starter
    </h1>
    <p class="xl:text-balance">
      For building <strong class="text-primary-900-100">github pages</strong>
      <u>easily</u>.
    </p>
    <a
      href="https://github.com/mistahuman/astro-svelte-skeleton-starter"
      class="btn preset-tonal-primary"
    >
      <span>visit code</span>
      <IconChevron className="size-4" />
    </a>
  </div>
</div>
