---
import { Github } from "@lucide/svelte";
const { classList = 'p-4' } = Astro.props;
---

<footer class:list={['border-t-[1px] border-surface-500/20', classList]}>
	<div class="container mx-auto flex flex-col xl:flex-row justify-between items-center gap-4">
		<div class="flex items-center gap-4">
			<p class="text-xs opacity-60">
				Built by <a class="underline" href="https://www.github.com/mistahuman" target="_blank">mistahuman</a>.
                <!-- <strong class="ml-2">Copyright &copy; 2025 MISTAHUMAN</strong>  -->
			</p>
		</div>
		<!-- Social -->
		<nav class="flex items-center">
			<!-- <a class="btn hover:preset-tonal" href="">
				<Github size={20} />
			</a> -->
		</nav>
	</div>
</footer>
